body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--font-regular);
  background: var(--background-gradient);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.border {
  width: 218px;
  height: 471px;
  border-radius: 20px;
  border: solid white 5px;
  z-index: 99;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 11px;
  text-align: center;
}

.main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 16px;
  height: 68px;
}
.main-title-country {
  color: #313341;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.main-title-date {
  color: #9A938C;
  font-family: Inter;
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-row-temp-number {
  color: #303345;
  font-family: Inter;
  font-size: 43px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main-row-temp-celsius {
  font-size: 12px;
}