body {
  font-family: var(--font-regular);
  background: var(--background-gradient);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.app__wrapper {
  display: flex;
  
}
.mobile__wrapper {
  border-radius: 18px;
  border: 6px solid #FFF;
  background: rgba(255, 255, 255, 0.29);
  box-shadow: 30px 30px 40px -10px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
  width: 218px;
  margin: auto;
}

.header__menu{
  height: 20px;
  position: relative;
  cursor: pointer;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 12px 11px;
}
.location__search {
  cursor: pointer;
}
.location__search path {
  transition: all .3s ease;
}

.header__dots {
  display: flex;
  gap: 8px;
}
.dots__item {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: #303344;
}
.dots__item.long {
  width: 17px;
}

.location__search:active path {
  stroke: #F39876;
}
@media (hover: hover) {
  .location__search:hover path {
    stroke: #F39876;
  }
}

.header__burger {
  position: relative;
  width: 14px;
  height: 2px;
  background-color: var(--element-color);
}
.header__burger:after {
 position: absolute;
  content: "";
  top: 6px;
  left: 1px;
  width: 9px;
  height: 2px;
  z-index: 999;
  background-color: inherit;
}
.header__burger:before {
  position: absolute;
  content: "";
  top: -6px;
  right: 1px;
  width: 9px;
  height: 2px;
  z-index: 999;
  background-color: inherit;
}
@media (hover: hover) {
  .header__menu:hover .header__burger {
    background-color: #F39876;
    transition: all .3s ease;
  }
}


.menu__wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__menu .header__burger:after,
.header__menu .header__burger:before {
  transition: all .3s ease;
}
.header__menu.active .header__burger:before {
  transform: rotate(-45deg)  translate(-5px, -1px);
}
.header__menu.active .header__burger:after {
  transform: rotate(45deg)  translate(-3px, -1px);
}


.meteo__img {
  width: 83px;
  height: 80px;
  background-size: cover;
  background-image: url("../../assets/img/cludy.png");
}

.info__wrapper {
  padding: 8px 18px;
  line-height: normal;
}
.location__info {
  color: var(--title-color);
  font-size: 20px;
  font-weight: 500;
}
.date__info {
  margin-top: 6px;
  color: var(--parg-text);
  font-size: 9px;
  font-weight: 400;
}

.location__meteo--wrapper {
  display: flex;
  padding: 4px 30px;
  gap: 10px;
}
.location__search,
.header__menu {
  width: 24px;
  height: 24px;
}

.degree__wrapper {
  text-align: center;
}
.meteo__data {
  color: var(--text-color);
  padding-top: 8px;
}
.meteo__degree {
  font-size: 43px;
  font-weight: 700;
  position: relative;
}

.meteo__status {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.meteo__degree:before {
  content: "°c";
  font-size: 14px;
  position: absolute;
  right: -15px;
  font-weight: 300;
}


.meteo__card--inner {
  padding: 16px 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.meteo__card {
  border-radius: 10px;
  border: 0.5px solid rgba(255, 255, 255, 0.50);
  background: rgba(255, 255, 255, 0.36);
  display: flex;
  padding: 8px 11px;
}
.card__image {
  width: 22px;
  height: 22px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.90);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.07), 0px 9px 10px -3px rgba(23, 126, 37, 0.15);
}


.card__data {
  color: var(--text-color);
  font-size: 7px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  margin-left: 8px;
  justify-content: space-between;
  width: 100%;
}
.data__status {
  padding-right: 17px;
}